@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
}

.profile-image{
    box-shadow: rgb(255 255 255 / 70%) 0px 0px 150px 18px;
}

.bar{
    width: 90%;
    height: 7px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.148);
    overflow: hidden;
}

.bar-progress{
    background: linear-gradient(
        90deg,
        #5B47CB 0%,
        #8a7cf0 50%,
        #ff9f43 100%
    );
    height: 100%;
    border-radius: 10px;
}

.html{
    width: 0%;
    animation: html 1.8s ease-in-out forwards;
}
.css{
    width: 0%;
    animation: css 1.8s ease-in-out forwards;
}
.js{
    width: 0%;
    animation: js 1.8s ease-in-out forwards;
}
.mern{
    width: 0%;
    animation: mern 1.8s ease-in-out forwards;
}

@keyframes html{
    100% {
        width: 90%;
    }
}
@keyframes css{
    100% {
        width: 70%;
    }
}
@keyframes js{
    100% {
        width: 80%;
    }
}
@keyframes mern{
    100% {
        width: 75%;
    }
}



.percent-html{
    animation: html-box  1.8s ease-in-out forwards;
}
.percent-css{
    animation: css-box 1.8s ease-in-out forwards;
}
.percent-js{
    animation: js-box 1.8s ease-in-out forwards;
}
.percent-mern{
    animation: mern-box 1.8s ease-in-out forwards;
}

@keyframes html-box {
    0%{
        opacity: 0;
        left:0%
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 78%
    }
}
@keyframes css-box {
    from{
        opacity: 0;
        left:0%
    }
    30%{
        opacity: 0;
    }
    to{
        opacity: 1;
        left: 60%
    }
}
@keyframes js-box {
    from{
        opacity: 0;
        left:0%
    }
    30%{
        opacity: 0;
    }
    to{
        opacity: 1;
        left: 70%
    }
}
@keyframes mern-box {
    from{
        opacity: 0;
        left:0%
    }
    30%{
        opacity: 0;
    }
    to{
        opacity: 1;
        left:65%
    }
}

nav{
    background: transparent;
    backdrop-filter: blur(10px);
}

.card{
    box-shadow: 0px 0px 11px -4px white;
}
